profiles {  
    standard {  
        process {   
            // Illumina workflow
            withName: 'Trimming_FastP' { 
                cpus = 4    
                memory = 6.GB   
            }
            withName: 'Low_complexity_filtering' { 
                cpus = 4    
                memory = 6.GB   
            }   
            withName: 'Host_depletion' {    
                cpus = 8    
                memory = 12.GB   
            }   
            withName: 'Kraken_prefilter' { 
                cpus = 8    
                memory = 12.GB   
            }
            withName: 'Extract_db' { 
                cpus = 8    
                memory = 12.GB   
            }   
            withName: 'Minimap2_illumina' {    
                cpus = 8    
                memory = 12.GB   
            }       
            withName: 'Sam_conversion' {    
                cpus = 4    
                memory = 6.GB   
            }       
            withName: 'Classify' {    
                cpus = 1    
                memory = 30.GB   
            }       
            withName: 'Write_report' {    
                cpus = 1    
                memory = 6.GB   
            }       
            
            // Nanopore workflow 

            withName: 'NanoFilt' {    
                cpus = 4    
                memory = 6.GB   
            }       
            withName: 'NanoPlot' {    
                cpus = 1    
                memory = 2.GB   
            }       
            withName: 'Host_depletion_nanopore' {    
                cpus = 16    
                memory = 30.GB   
            }       
            withName: 'Host_depletion_extraction_nanopore' {    
                cpus = 8    
                memory = 12.GB   
            }       
            withName: 'Minimap2_nanopore' {    
                cpus = 15    
                memory = 30.GB   
            }       
            withName: 'MetaFlye' {    
                cpus = 8    
                memory = 12.GB   
            }       
            withName: 'Kraken_prefilter_nanopore' {    
                cpus = 16    
                memory = 30.GB   
            }       
            withName: 'Diamond_translated_alignment_unclassified' {    
                cpus = 8    
                memory = 12.GB   
            }     
            withName: 'Cluster_unclassified_reads' {    
                cpus = 8    
                memory = 12.GB   
            }     
            withName: 'Eggnog_mapper' {    
                cpus = 14    
                memory = 20.GB   
            }     
            withName: 'Extract_true_novel' {    
                cpus = 1    
                memory = 6.GB   
            }     
            withName: 'Classify_orthologs' {    
                cpus = 1    
                memory = 6.GB   
            }     
            withName: 'Write_report_orthologs' {    
                cpus = 1    
                memory = 6.GB   
            }     
            withName: 'Identify_resistant_plasmids' {    
                cpus = 16    
                memory = 12.GB   
            }
        }
    }
    laptop {  
        process {   
            // Nanopore workflow 
            withName: 'NanoFilt' {    
                cpus = 4    
                memory = 6.GB   
            }       
            withName: 'NanoPlot' {    
                cpus = 1    
                memory = 2.GB   
            }       
            withName: 'Host_depletion_nanopore' {    
                cpus = 8    
                memory = 14.GB   
            }       
            withName: 'Host_depletion_extraction_nanopore' {    
                cpus = 8    
                memory = 12.GB   
            }       
            withName: 'Minimap2_nanopore' {    
                cpus = 8    
                memory = 14.GB   
            }       
            withName: 'MetaFlye' {    
                cpus = 8    
                memory = 12.GB   
            }       
            withName: 'Kraken_prefilter_nanopore' {    
                cpus = 8    
                memory = 14.GB   
            }       
            withName: 'Diamond_translated_alignment_unclassified' {    
                cpus = 8    
                memory = 12.GB   
            }     
            withName: 'Cluster_unclassified_reads' {    
                cpus = 8    
                memory = 12.GB   
            }     
            withName: 'Eggnog_mapper' {    
                cpus = 8    
                memory = 214.GB   
            }     
            withName: 'Extract_true_novel' {    
                cpus = 1    
                memory = 6.GB   
            }     
            withName: 'Classify_orthologs' {    
                cpus = 1    
                memory = 6.GB   
            }     
            withName: 'Write_report_orthologs' {    
                cpus = 1    
                memory = 6.GB   
            }     
            withName: 'Identify_resistant_plasmids' {    
                cpus = 8    
                memory = 14.GB   
            }
        }
    }
}
